useDynLib(DiceKriging) 

importFrom("graphics", plot)
#importFrom("methods", show)
importFrom("stats", predict)
importFrom("stats", coef)
importFrom("stats", coefficients)
#importFrom("stats", summary)
importFrom("stats", simulate)


## S4
exportClasses(covTensorProduct, covIso, covKernel, km, covAffineScaling)
## All methods, for own or "foreign" generics:
exportMethods(show, plot, predict, simulate, covMatrix, covMat1Mat2, 
covMatrixDerivative, covVector.dx, covParametersBounds, coefficients, summary, inputnames, ninput, kernelname, nuggetvalue, "nuggetvalue<-", nuggetflag)

export(#as, 
       #as.covIso, extract.covIso,
       branin, 
       camelback, 
       computeAuxVariables, 
       #covMat1Mat2.covTensorProduct, 
       #covMatrix.covTensorProduct,
       #covMatrixDerivative.covTensorProduct,
       #covMatrixDerivative.dx.covTensorProduct,
       covparam2vect,
       vect2covparam,
       covStruct.create,
       #covVector.dx.covTensorProduct,
       drop.response,
       goldsteinPrice, 
       hartman3, 
       hartman6, 
       km, 
       km1Nugget.init, 
       km1Nugget, 
       kmNoNugget.init, 
       kmNoNugget, 
       kmNuggets.init, 
       kmNuggets,
       leaveOneOut.km, 
       logLik.km, 
       logLikFun,
       logLikGrad, 
       plot.km, 
       predict.km, 
       SCAD.derivative, 
       SCAD, 
       scalingFun,
       scalingFunGrad,
       #show.km, 
       #simulate.km,
       trendMatrix.update)

